html {
/*  background-color: #fbddc0; */
  background-color: papayawhip;
}

h1, h2, h3, h4, h5, h6 {
  color: #61305d;
  text-align: center;
}

a {
	color: #61305d;
}

footer {
	text-align: center;
}

.faces {
    display: grid;
    justify-content: space-between;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}


.tag {
    display: inline-block;
    text-decoration: none;
    padding: .625em;
    border-radius: 5px;
    margin: .5rem .25rem;
    padding: .625rem;
    border: 2px solid #e77c7c;
    color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLinkWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}

.navLink {
  padding-right: 1em;
}

@media all and (max-width: 480px) { 
  .faces { 
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  .nav { 
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }

  .navLinkWrapper {
    padding-left: 0em;
    justify-content: center;
  }
}
